---
layout: single
permalink: /people/
title: "People"
---
<h2>Director</h2>
{% assign current = site.data.people | where: "group", "director" %}
{% for person_id in current %}
    {% include person.html person=person_id %}
{% endfor %}

<h2>Research Assistants</h2>
{% assign current = site.data.people | where: "group", "ra" %}
{% for person_id in current %}
    {% include person.html person=person_id %}
{% endfor %}

<h2>Project Assistants</h2>
{% assign current = site.data.people | where: "group", "pa" %}
{% for person_id in current %}
    {% include person.html person=person_id %}
{% endfor %}

<h2>Alumni</h2>
<div style="text-align: justify">
Having been established in 2012, we have an extensive list of alumni. Our alumni have found their way to top graduate schools such as Carnegie Mellon University, University of Toronto, Purdue University, Columbia University and many more. Many of them have also interned at or are working in top companies such as Microsoft, Intel and Tesla to name a few.
<br><br>
To view our alumni, head over to the <a href="/people/alumni">Alumni</a> page.
</div>