---
layout: single
permalink: /people/
title: "People"
---
<h2>Director</h2>
{% assign current = site.data.people | where: "group", "director" %}
{% for person_id in current %}
    {% include person.html person=person_id %}
{% endfor %}

<h2>Research Assistants</h2>
{% assign current = site.data.people | where: "group", "ra" %}
{% for person_id in current %}
    {% include person.html person=person_id %}
{% endfor %}

<h2>Project Assistants</h2>
{% assign current = site.data.people | where: "group", "pa" %}
{% for person_id in current %}
    {% include person.html person=person_id %}
{% endfor %}

<h2>Alumni</h2>
{% assign current = site.data.people | where: "group", "alumni" %}
<div style="margin: auto">
{% for person_id in current %}
    <h4><a href="{{ person_id.page }}">{{ person_id.name }}</a></h4>
    {% if person_id.location %}
        <p class="location">{{ person_id.location }}</p>
    {% endif %}
    </div>
    {% assign i = forloop.index | modulo: 2 %}
    {% if i == 0 %}<br>{% endif %}
{% endfor %}
</div>