---
layout: single
permalink: /people/
title: "People"
---
<h2>Director</h2>
{% assign current = site.data.people | where: "group", "director" %}
{% for person_id in current %}
    {% include person.html person=person_id %}
{% endfor %}

<h2>Research Assistants</h2>
{% assign current = site.data.people | where: "group", "ra" %}
{% for person_id in current %}
    {% include person.html person=person_id %}
{% endfor %}

<h2>Project Assistants</h2>
{% assign current = site.data.people | where: "group", "pa" %}
{% for person_id in current %}
    {% include person.html person=person_id %}
{% endfor %}

<h2>Alumni</h2>
{% assign current = site.data.people | where: "group", "alumni" %}
{% for person_id in current %}
    <a href="{{ person_id.page }}" style="color: #000">{{ person_id.name }}</a>
    {% if person_id.location %}
    <br>
    <div style="margin-bottom: 5px; font-size: smaller;"><i class="fas fa-fw fa-map-marker-alt"></i> {{ person_id.location }}</div>
    {% endif %}
    <br>
{% endfor %}