{% assign publication = include.publication %}
{% if publication.url %}
    <a href="{{ publication.url }}">
        <i>{{ publication.title }}</i>
    </a>
{% else %}
    <i>{{ publication.title }}</i>
{% endif %}
<br>
{% assign people = site.data.people %}
{% for author in publication.authors %}
    <a href="people[author].page">{{ people[author].name }}</a>,
{% endfor %}
<a href="/people/VineethVijayaraghavan">Vineeth Vijayaraghavan</a>
<br>
{{ publication.conference }}
<br>
Status: {{ publication.status }}
<br>