{% assign publication = include.publication %}
{% if publication.url %}
    <a href="{{ publication.url }}">
        <i>{{ publication.title }}</i>
    </a>
{% else %}
    <i>{{ publication.title }}</i>
{% endif %}
<br>
{% assign people = site.data.people %}
{% for author in publication.authors %}
{% if people[author].page %}
    <a href="{{ people[author].page }}" style="color: #000">{{ people[author].name }}</a>
{% else %}
    {{ people[author].name }}
{% endif %}
{% if forloop.last == false %}
,
{% endif %}
{% endfor %}
<br>
{{ publication.conference }}
{% if publication.status != "Published" %}
    ({{ publication.status }})
{% endif %}
<br>
{% if publication.award %}
    <b>{{ publication.award }}</b>
    <br>
{% endif %}
{% if publication.git %}
    <i class="fab fa-github"></i> <a href="{{ publication.git }}" style="color: #000">View code on GitHub</a>&nbsp;&nbsp;
{% endif %}
{% if publication.misc %}
    <i class="{{ publication.misc.icon }}"></i> <a href="{{ publication.misc.link }}" style="color: #000">{{ publication.misc.text }}</a>
{% endif %}
{% if publication.git or publication.misc %}
    <br>
{% endif %}
<br>
