/* ==========================================================================
   PEOPLE PAGE
   ========================================================================== */

.person-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    @media (max-width: 48em) {
        width: 100%;
        margin-bottom: 30px;
    }
    @media (min-width: 48em) {
        width: 80%;
        margin-left: 0px;
        margin-bottom: 40px;
    }
    .person-avatar {
        display: inline-block;
        float: left;
        @media (min-width: 60em) {
            img {
                max-width: 150px;
            }
        }
    }
    .person-details {
        margin-left: 75px;
        .author__content p {
            margin-bottom: 3px !important;
            line-height: initial;
        }
        .social-icons {
            margin-top: 0px;
            padding-left: 15px;
            padding-right: 25px;
            @include breakpoint($large) {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }
}
.fa-envelope-square {
  color: gray;
}
