/* ==========================================================================
   PEOPLE PAGE
   ========================================================================== */

.container {
    display: flex;
    @media (max-width: 48em) {
        width: 100%;
        margin-bottom: 30px;
    }
    @media (min-width: 48em) {
        width: 80%;
        margin-left: 0px;
        margin-bottom: 40px;
    }
    .avatar {
        display: inline-block;
        float: left;
        @media (min-width: 60em) {
            margin-right: 100px;
            img {
                max-width: 150px;
            }
        }
    }
    .person-details {
        .author__content p {
            margin-bottom: 3px !important;
            line-height: initial;
        }
        .social-icons {
            margin-top: 5px
        }
    }
}
.fa-envelope-square {
  color: gray;
}
